*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Header Design */
header{
    display: flex;
    height: 808px;
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    justify-content: end;
}
.header-section-description{
    text-align: right;
    display: block;
    align-items: center;
    padding: 150px;
}
.header-title{
    font-size: 65px;
    width: 525px;
    margin-bottom: 20px;
}
.header-des{
    font-size: 16px;
    width: 525px;
    margin-bottom: 20px;
}
.btn{
    height: 64px;
    width: 160px;
    background-color: #F15B22;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
/* Main content Design */
.main-content{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding:150px;
}

.main-content-img img{
    padding: 20px;
}
.content-heading{
    margin-bottom: 20px;
    font-size: 40px;
}
.main-content-des{
    text-align: left;
    padding: 50px;
}
.my-plans{
    padding:0px 150px;
}
.plan-heading{
    margin-bottom: 30px;
    text-align: center;
}
.plan-details{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px 0px;
}
.plan{
    text-align: center;
}
.plan-sub{
    color: gray;
}
.time-banner{
    /* background-image: url('../images/watch.png'); */
    background-repeat: no-repeat;
    margin:150px;
    padding:60px 100px 60px 60px;
    background: linear-gradient(to left, transparent, #F15B22), url('../images/watch.png') no-repeat;
}
.time-banner-title{
    width: 400px;
    color: white;
}
.time-btn{
    height: 50px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    color: #F15B22;
    margin-top: 20px;
}
/* Footer design */
footer{
    background-color: #151414;
}
.footer-column{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 150px;
    gap: 100px;
}
.future{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 485px;
}
.future-sub{
    font-size: 15px;
}
.logo{
    display: flex;
    gap: 20px;
}
.subscribe{
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subscribe-title{
    font-size: 20px;
}
.subscribe input{
    padding: 5px 10px;
    border-radius: 5px;
    height: 50px;
    color: white;
    background: none;
    border: 1px solid white;
}
.btn-subscribe{
    height: 50px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    color: #F15B22;
}